{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-md-center">
    <div class="col-md-7 col-lg-5">
      <h2 class="join-message">Edit Profile</h2>
      <form method="POST" id="user_edit_login_form" action="/edit-login">
        {{ login_form.hidden_tag() }}
  
        {% for field in login_form if field.widget.input_type != 'hidden' %}
          {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {{ field(placeholder=field.label.text, class="form-control") }}
        {% endfor %}
        <button class="btn btn-primary btn-lg btn-block">Update Login</button>
      </form>
      <form method="POST" id="user_edit_profile-form" action="/edit-profile">
        {{ profile_form.hidden_tag() }}
        {% for field in profile_form if field.widget.input_type != 'hidden' %}
          {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {{ field(placeholder=field.label.text, class="form-control") }}
        {% endfor %}
        <button class="btn btn-primary btn-lg btn-block">Update</button>
      </form>
    </div>
  </div>
{% endblock %}